.showcase{
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.showcase-display{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
