.input-box{
  box-sizing: border-box;
  width: 100%;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 2px 5px 3px 5px;
  margin: 15px 0;
}
.input-box label{
  box-sizing: border-box;
  display: inline-block;
  width: 90%;
  font-size: 12px;
  color:grey;
}
.input-box input{
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  line-height: 25px;
  height: 20px;
  outline: none;
  border: 0px;
  vertical-align: baseline;
  padding: 0;
}
