.information-form{
  width:25vw;
  padding: 1vw;
  min-width: 500px;

}
.information-form ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.li-name{
  display: flex;
  justify-content: space-between;
}
.li-name{
  width: 100%;
  padding: 0;
}
.li-name > div {
  width: 49%;
}
.li-information-actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select-box{
  outline: 0;
  border: 0;
  padding: 5px 0;
  margin: 0;
  width: 100%;
}
.button-primary{
  background-color: RGB(242,242,242);
  border: 1px solid black;
  border-radius: 3px;
  font-size: 15px;
  padding: 15px 30px;
  transition: .2s;
}
.button-primary:hover{
  background-color: orange;
}
